<!-- encuesta.component.html -->

<div class="encuesta-modal">
    <div class="encuesta-container">
        <div class="btn-cerrar" (click)="this.encuestaActive.emit('');">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>
        <form [formGroup]="encuestaForm" class="encuesta-form" (ngSubmit)="enviarEncuesta()">
            <h2>Encuesta de atencion</h2>
            <div class="form-group">
                <label for="calificacion">Calificación general del servicio:</label>
                <div class="estrellas">
                <i class="bx bxs-star estrella"
                    *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index"
                    [class.marca]="i < calificacion"
                    [class.activo]="i <= hoverIndex"
                    (mouseover)="onStarHover(i + 1)"
                    (mouseleave)="onStarLeave()"
                    (click)="calificar(i + 1)">
                </i>
                </div>
            </div>

            <div class="form-group">
                <label for="opinionAtencion">Opinión sobre la atención recibida:</label>
                <textarea id="opinionAtencion" formControlName="opinionAtencion"></textarea>
            </div>

            <div class="form-group">
                <label for="tiempoEspera">Tiempo de espera:</label>
                <input type="number" id="tiempoEspera" formControlName="tiempoEspera">
            </div>

            <div class="form-group">
                <label for="sugerencias">Sugerencias de mejora:</label>
                <textarea id="sugerencias" formControlName="sugerencias"></textarea>
            </div>

            <button type="submit" class="btn-accion">Enviar Encuesta</button>
        </form>
    </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>