<div class="login-container">
    <span [ngSwitch]="res">
        <form *ngSwitchCase="true">
            <h2>Restablecer contraseña</h2>
            <p>Revise su correo electrónico para obtener un enlace para restablecer su contraseña. Si no aparece en unos minutos, revisa tu carpeta de spam.</p>
            <input type="submit" routerLink="/bienvenido" value="Volver a iniciar sesión">
        </form>
        <form (ngSubmit)="onSubmit(f.value)" #f="ngForm" *ngSwitchDefault>
            <h2>Restablecer contraseña</h2>
            <div class="inputBox">
                <div *ngIf="errMsgEmail" class="err-msg"> {{errMsgEmail}} </div>
                <input type="text" name="email" ngModel required>
                <span>Correo Electronico</span>
                <i class="backInput" [ngClass]="{'input-error': errorStates.email}"></i>
            </div>
            <input type="submit" value="Restablecer contraseña">
            <p>No tienes una cuenta? <span routerLink="/register">Registrate</span></p>
        </form>
    </span>
</div>