<div class="box-principal">
    <div class="container-fluid">
        <div class="container-fluid">
            <img class="logo-img" src="favicon.png" alt="+">
            <h5>Clinica OnLine</h5>
        </div>
        <div class="form-container container-fluid" style="padding-top: 0; padding-bottom: 0;">
        <h1>Bienvenido</h1>
        <h5>Seleccione una opción</h5>
        <div class="btn-container">
            <a href="/login">
                <div class="btnSeleccion btnPaciente">
                    <i class='bx bxs-log-in'></i> <!-- Icono de iniciar sesión -->
                </div>
            </a>
            <a href="/registro">
                <div class="btnSeleccion btnPaciente">
                    <i class='bx bxs-user-plus'></i> <!-- Icono de registrarse -->
                </div>
            </a>
        </div>
    </div>
</div>
