<h3>Historial clínico</h3>
<div *ngIf="turnos && turnos.length > 0; else noHistorialTemplate">
    <div class="tabla-container" [@tableAnimation]>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Temperatura</th>
                    <th>Presión</th>
                    <th>Datos dinámicos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turno of turnos">
                    <td>{{ turno.fecha }}</td>
                    <td>{{ turno.historialClinico.altura }}</td>
                    <td>{{ turno.historialClinico.peso }}</td>
                    <td>{{ turno.historialClinico.temperatura }}</td>
                    <td>{{ turno.historialClinico.presion }}</td>
                    <td [innerHTML]="mostrarDatosDinamicos(turno.historialClinico.datosDinamicos)"></td>
                </tr>
            </tbody>
        </table>
        <div class="container-fluid">
            <button style="margin-bottom: 20px;" type="button" class="btn-accion rojo" (click)="generarYDescargarPDF(this.turnos)">Descargar historial clínico PDF</button>            
             <button style="margin-bottom: 20px;" type="button" class="btn-accion amarillo" (click)="descargarPorEspecialidad()">Descargar historial clínico por especialidad</button> 
        </div>
    </div>
</div>
<ng-template #noHistorialTemplate>
    <p>El usuario todavía no tiene historial clínico.</p>
</ng-template>

<div class="container-seleccionar-especialidad" *ngIf="this.especialidades">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div class="btn-cerrar" (click)="this.especialidades = undefined">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </div>
                <p>Seleccione una especialidad</p>
            </div>
            <div class="inputBox">
                <select name="especialidad" ngModel required (change)="onEspecialidadElegida($event)">
                    <option value="" disabled selected style="color: #838383;">Selecciona la especialidad</option>
                    <option *ngFor="let especialidad of especialidades; " [value]="especialidad">{{ especialidad }}</option>
                </select> 
                <i></i>
            </div>
            <br>
            <button style="margin-bottom: 20px;" type="button" class="btn-accion amarillo" (click)="generarYDescargarPDF(this.turnosFiltradosPorEspecialidad, true)">Descargar PDF</button>
        </div>
    </div>
</div>