<h2>Pacientes</h2>

<div *ngIf="pacientes" class="tabla-container">
    <div class="card-container">
        <div class="card" *ngFor="let usuario of pacientes">
            <div class="card-header">
                <img [src]="usuario.img" alt="perfil" class="usuario-avatar">
                <div class="usuario-info">
                    <span>{{ usuario.nombre }}</span>
                    <span>{{ usuario.apellido }}</span>
                </div>
            </div>
            <div class="card-body">
                <div class="detalle-turnos">
                    <p [innerHTML]="mostrarUltimosTurnos(usuario.id)"></p>
                </div>
                <div class="acciones">
                    <button class="btn-accion" (click)="this.historialUsuarioID = usuario.id">Ver historial clínico</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.historialUsuarioID" class="form-crear">
    <div class="container-historial-clinico">
        <div class="container-fluid" style="display: flex; align-items: start; position: absolute; padding: 0;">
            <div style="cursor: pointer;" (click)="this.historialUsuarioID = ''">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
        </div>
        <app-listar-historial-clinico [usuarioID]="this.historialUsuarioID"></app-listar-historial-clinico>
    </div>
</div>