<script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
<div class="container-fluid" (click)="handleClick($event)">
    <div class="row">
        <div class="col-lg-6">
            <p>Buenos dias,</p>
            <h1 appCopyToClipboard>{{user.nombre}} {{user.apellido}}</h1>
        </div>
        <div class="col-lg-6 right">
            <img [src]="user.img" alt="Perfil" (click)="handleClick($event, 'perfil')">
        </div>
    </div>

    @if (user.userType == "admin") {
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="row">
                <div class="col-lg-12 grafic-container">
                    <h2 style="margin-top: -60px;">Log de Ingresos al Sistema</h2>
                    <ngx-charts-advanced-pie-chart
                        [scheme]="colorScheme"
                        [results]="logIngresosAMostrar"
                        [gradient]="gradient">
                    </ngx-charts-advanced-pie-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 grafic-container">
                    <h2>Turnos por especialidad</h2>
                    <ngx-charts-advanced-pie-chart
                        [scheme]="colorScheme"
                        [results]="turnosPorEspecialidad"
                        [gradient]="gradient">
                    </ngx-charts-advanced-pie-chart>
                </div>
                <div class="col-lg-6 grafic-container">
                    <h2>Turnos por dia</h2>
                    <ngx-charts-advanced-pie-chart
                        [scheme]="colorScheme"
                        [results]="turnosPorDia"
                        [gradient]="gradient">
                    </ngx-charts-advanced-pie-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 grafic-container">
                    <h2>Turnos solicitados por medico</h2>
                    <ngx-charts-advanced-pie-chart
                        [scheme]="colorScheme"
                        [results]="turnosPorMedico"
                        [gradient]="gradient">
                    </ngx-charts-advanced-pie-chart>
                </div>
                <div class="col-lg-6 grafic-container">
                    <h2>Turnos finalizados por medico</h2>
                    <ngx-charts-advanced-pie-chart
                        [scheme]="colorScheme"
                        [results]="turnosFinalizadosPorMedico"
                        [gradient]="gradient">
                    </ngx-charts-advanced-pie-chart>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: -110px;">
              <button class="btn-accion rojo" (click)="exportToPDF()">Exportar a PDF</button>
              <button class="btn-accion verde" (click)="exportToExcel()">Exportar a Excel</button>
        </div>

    }
        
</div>